.benefits {
    padding: 69px 0 81px 0;
    background-color: #f6f6f6;
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__heart {
        animation: heartbeat 1.2s ease infinite;
        // animation: heartbeat;
        // animation-duration: 1.2s;
        // animation-timing-function:ease;
        // animation-iteration-count: infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
    &__icon {
        max-width: 243px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #0d0d0d;
        img {
           display: block;
           margin: 0 auto;
           margin-bottom: 38px; 
        }
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
        margin-top: 25px;
        a {
            color: #f00;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}